.vfrc-launcher {
  border-radius: 0px;
}

.vfrc-assistant-info--title {
  font-family: "Times New Roman", Times, sans-serif;
}

.vfrc-assistant-info--description {
  font-family: "Times New Roman", Times, sans-serif;
}

.vfrc-message {
  font-family: "Times New Roman", Times, sans-serif;
}

.vfrc-button {
  font-family: "Times New Roman", Times, sans-serif;
}